.chatBox{
    width: 300px;
    height: 400px;
    border-radius: 5px;
    background-color: rgb(14,9,40);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    position: absolute;
    overflow: hidden;
    top: 100%;
    left: 70%;
}

form{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 5px;
    align-items: center;
}

.userMessage{
    margin-left: 50%;
    background-color: rgba(250, 142, 0, 0.882);
    color: rgb(200,202,229);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 5px;
    line-break: anywhere;
}

.message{
    margin-right: 50%;
    background-color: rgba(28, 32, 69, 0.84);
    color: rgb(200,202,229);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 5px;
    line-break: anywhere;
}


input[name="submit"]{
    border-radius: 5px;
    background-color: rgb(250,140,0);
    width: 25px;
    height: 25px;
    padding: 7.5px;
    margin: 5px;
    outline: none !important;
}

input[name="submit"]:hover{
    background-color: rgb(247, 159, 43);
}







.typingWindow:focus {
    outline: none !important;
    border:1px solid rgb(250,140,0);
    box-shadow: 0 0 6px rgb(250,140,0);
}

.typingWindow{
    background-color: rgb(28,32,69);
    color: rgb(199,202,229);
    border: none;
    text-decoration: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    min-height: 60px;
    word-break: break-all;
    margin: 5px;
    margin-right: 0px;
    margin-bottom: 0px;
}