.leftFooter{
    display: flex;
    flex-direction: column;
}



footer{
    display: flex;
    background-color: rgb(14,10,40);
    justify-content: space-evenly;
    padding-top: 100px;
    padding-bottom: 60px;
}

.rightFooter{
    display: flex;
    flex-direction: column;
}

.logos{
    background-color: rgb(250,140,0);
    width: 40px;
    height: 40px;
    margin-right: 4px;
}

.white{
    color: rgb(199,202,229);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
}


.copyright{
    color: rgb(199,202,229);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.subTitle{
    color: rgb(250, 251, 253);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.yellow{
    font-weight: bold;
    color: rgb(250,140,0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.infoLink:link{
    color: rgb(199,202,229);
}

.infoLink:visited{
    color: rgb(199,202,229);
}

.infoLink{
    text-decoration: none;
}

#bullet li::marker{
    color: rgb(250,140,0);
}

.bullet{
    list-style-type: square;
}