/* HEADER */

.tittle{
    display: flex;
    text-align: right;
    flex-direction: column;
    align-items: center;
    background: url("assets/inscBG.jpg");
    background-size: cover;
    height: 300px;
}

h1{
    margin-top: 110px;
    font-size: 80px
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: orange;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;

    opacity: 50%;
}

.title{
    display: flex;
    justify-content: center;
    background-color: rgba(17, 13, 48, 0.53);
    background-size: cover;
}

.topHeader{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: rgb(20, 16, 58);
    padding-bottom: 15px;
    padding-top: 15px;
}

.nav{
    color: rgb(250, 251, 253);
    font-size: 20px;
}


.headerTitle{
    color: rgb(250, 251, 253);
    font-size: 25px;
    margin-right: 300px;
}

.navLinks{
    margin-right: 10px;
    text-decoration: none;
}

.navLinks:link{
    color: rgb(250, 251, 253);
}

.navLinks:visited{
    color: rgb(250, 251, 253);
}

.navLinks:hover{
    color: rgb(250,140,0);
}




/*-------FIN HEADER-------*/


body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.orangeButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250,140,0);
    color: rgb(250, 251, 253);
    font-size: 15px;
    width: 150px;
    outline: none;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
    text-decoration: none;
    border-radius: 5px;

}

.orangeButton:focus{
    outline: none;
}

.orangeButton:hover{
    outline: none;
    background-color: rgb(255, 174, 0);
}

.buttonStuff{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.option{
    margin-left: 150px;
    color: rgb(199,202,229);
    font-size: 15px;
}

.option:hover{
    color: rgb(250,140,0);
}

section.main{
    display: flex;
    justify-content: center;
    background:rgb(21, 16, 58);;
    padding-bottom: 10%;
    padding-top: 10%;
}

.contactInfo{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

#forceMdp{
    color: rgb(199,202,229);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.barre{
    background-color: unset;
    height: 5px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: -5px;
}

form input[name="email"],
form input[name="password"],
form input[name="mot-de-passe"],
form input[name="pseudo"],
form input[name="password_retype"]{
    width: 500px;
    margin-right: 10px;

    margin-bottom: 15px;
    padding: 16px;

    background-color: rgb(28,32,69);
    color: rgb(199,202,229);
    border: none;
    text-decoration: none;
}

/* FOOTER */

.leftFooter{
    display: flex;
    flex-direction: column;
}



footer{
    display: flex;
    background-color: rgb(14,10,40);
    justify-content: space-evenly;
    padding-top: 100px;
    padding-bottom: 60px;
}

.rightFooter{
    display: flex;
    flex-direction: column;
}

.logos{
    background-color: rgb(250,140,0);
    width: 40px;
    height: 40px;
    margin-right: 4px;
}

.white{
    color: rgb(199,202,229);
    font-size: 15px;
    font-weight: normal;
}


.copyright{
    color: rgb(199,202,229);
    font-size: 13px;
}

.subTitle{
    color: rgb(250, 251, 253);
    font-size: 25px;
}

.yellow{
    font-weight: bold;
    color: rgb(250,140,0);
    font-size: 15px;
}

.infoLink:link{
    color: rgb(199,202,229);
}

.infoLink:visited{
    color: rgb(199,202,229);
}

.infoLink{
    text-decoration: none;
}

#bullet li::marker{
    color: rgb(250,140,0);
}

.bullet{
    list-style-type: square;
}