body{
    margin: 0;
    padding: 0;
    background-color: rgba(17, 13, 48, 0.53);
}


.section1{
    background-color: rgb(17, 13, 48);
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.section2{
    background-color: rgb(18,15,49);
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.img123{
    height: 350px;
    width: auto;
    margin-right: 15px;
}

.img4{
    height: 350px;
    width: auto;
}

.firstMain{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}
.secondMain{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.thirdMain{
    display: flex;
    justify-content: center;
}

.fourthMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 100px;
}

.teamPictures{
    display: flex;
    flex-direction: row;
}

.Picture{
    border-radius: 50%;
    height: 150px;
    width: 150px;

    margin-bottom: 70px;
}

.PictureBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(14,10,40);
    height: 500px;
    width: 330px;
    color: rgb(250, 251, 253);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-right: 20px;
    box-shadow: rgb(61,31,167);
    
    

}

.firstLine{
    display: flex;
    flex-direction: row;
}

.secondLine{
    display: flex;
    flex-direction: row;
    margin-top: -40px;
}

.stats{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 70px;
}

.firstSquare{
    display: flex;
    color: rgb(250, 251, 253);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(61,31,167);
    height: 150px;
    width: 230px;
    border-radius: 3px;
}

.secondSquare{
    display: flex;
    color: rgb(250, 251, 253);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(0,164,88);
    height: 150px;
    width: 230px;
    margin-left: 20px;
    border-radius: 3px;

}

.thirdSquare{
    display: flex;
    color: rgb(250, 251, 253);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(202,0,173);
    height: 150px;
    width: 230px;
    border-radius: 3px;

}

.fourthSquare{
    display: flex;
    color: rgb(250, 251, 253);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(250,140,0);
    height: 150px;
    width: 230px;
    margin-left: 20px;
    border-radius: 3px;

}

.images1{
    display: flex;
    justify-content: center;
}

.text1{
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 50px;
}

.bigNumbers{
    color:rgb(61,31,167);
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-right: 30px;
}








.white{
    color: rgb(199,202,229);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
}


.articleTitle{
    color: rgb(250, 251, 253);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.teamTitle{
    color: rgb(250, 251, 253);
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: -1px;
}

.separator{
    height: 40px;
}


.subTitle{
    color: rgb(250, 251, 253);
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}


